/* .date{
  min-width: 500px;
  width: 500px;
} */
body{
  min-height: 800px;
}
#flatTimes{
  margin-bottom: 15px;
}
nav{
  min-width: 260px;
}

#interpolationChart{
  width:100%;
  max-width:1200px;

}
#loading-spinner{
  /* background-color: red; */
  /* height: 100%; */
}
#graph{
  /* background-color: red; */
}
